{{define "title"}}
{{if .SiteToolbarTitle }}
{{ .SiteToolbarTitle }} - {{.SiteName }}
{{else}}
About - {{.SiteName }}
{{end}}
{{end}}

{{define "content"}}
<div class="about-container">
    <div class="about-sidebar">
        <img src="{{.ProfileImage}}" alt="Profile Picture" class="profile-image" />
        <p class="profile-name">{{.ProfileName}}</p>
        <p class="profile-links">
            <a href="{{.ProfileCVURL}}" target="_blank">download cv</a>
            <span class="profile-links-separator">|</span>
            <a href="mailto:{{.ProfileEmail}}">get in touch</a>
        </p>
    </div>
    <div class="about-content">
        {{.ProfileContent}}
    </div>
</div>
{{end}}