{{define "title"}}
{{if .SiteToolbarTitle }}
{{ .SiteToolbarTitle }} - {{.SiteName }}
{{else}}
{{.SiteName }}
{{end}}
{{end}}

{{define "content"}}
<h1>{{ .SiteTagline }}</h1>
<h2>Posts</h2>
<ul class="post-list">
  {{range .Posts}}
  <li
    id="{{.ID}}"
    hx-get="{{$.PostsPath}}{{.ID}}"
    hx-push-url="true"
    hx-target="body"
    hx-swap="outerHTML"
    class="post-item"
  >
    <span class="post-title">{{.Title}}</span>
    <span class="post-id">{{.ModifiedDate.Format "02-Jan-2006"}}</span>
  </li>
  {{end}}
</ul>
{{end}}
