<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{if .SiteDescription}}<meta name="description" content="{{.SiteDescription}}" />{{end}}
    {{if .SiteKeywords}}<meta name="keywords" content="{{range $i, $keyword := .SiteKeywords}}{{if $i}}, {{end}}{{$keyword}}{{end}}" />{{end}}
    {{if .SiteAuthor}}<meta name="author" content="{{.SiteAuthor}}" />{{end}}
    <link rel="icon" type="image/svg+xml" href="/static/icons/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/static/fonts/TX-02-SemiBold.woff2"
      crossorigin
    />
    <title>{{template "title" .}}</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
    <meta name="htmx-config" content='{"withCredentials":true, "scrollBehavior":"auto"}' />

    <script src="/static/index.js"></script>

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
          displayMath: [
            ["$$", "$$"],
            ["\\[", "\\]"],
          ],
        },
        svg: {
          scale: 1.2,
          minScale: 1.2,
          matchFontHeight: true,
          mtextInheritFont: true,
        },
        startup: {
          pageReady: () =>
            MathJax.startup.defaultPageReady().then(() => {
              const content = document.getElementById("content");
              if (content) content.classList.add("mathjax-ready");
            }),
        },
      };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/markdown.css" />
  </head>
  <body class="{{.Theme}}">
    <nav class="navbar">
      <div class="navbar-wrapper">
        <button class="hamburger" onclick="toggleNavbar()">
          <i class="fa fa-bars"></i>
        </button>
        <div class="navbar-center" id="nav-center-hamburguer">
          <h1>
            <a
              hx-get="/"
              hx-target="body"
              hx-swap="outerHTML show:unset"
              hx-push-url="true"
              id="nav-go-home"
            >
              {{.SiteName}}
            </a>
          </h1>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-left">
          {{if .IsPost}}
          <div id="edit-post" class="title-wrapper" data-tooltip="Edit">
            <button
              hx-get="/edit/post/{{.Post.ID}}"
              hx-boost="true"
              hx-target="body"
              hx-swap="outerHTML"
              hx-push-url="true"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </div>
          {{end}}
          {{template "navbar-left" .}}
        </div>
        <div class="navbar-center" id="nav-center">
          <h1>
            <a
              hx-get="/"
              hx-target="body"
              hx-swap="outerHTML show:unset"
              hx-push-url="true"
              id="nav-go-home"
              >{{ .SiteName }}</a
            >
          </h1>
        </div>
        <div class="navbar-right">
          <div id="sign-in" class="title-wrapper" data-tooltip="Sign in">
            <button
              hx-get="/auth/login"
              hx-target="body"
              hx-swap="outerHTML"
              hx-push-url="true"
              hx-vals='{"refresh": true}'
            >
              <i class="fa-solid fa-user-shield"></i>
            </button>
          </div>
          {{if .EditorEnabled}}
          {{if .IsEditor}}
          <div
            class="title-wrapper"
            data-tooltip="Delete draft and start fresh"
          >
            <button onclick="window.location.href='/new/post'">
              <i class="fas fa-refresh"></i>
            </button>
          </div>
          {{else}}
          <div class="title-wrapper" data-tooltip="Create a new draft">
            <button onclick="window.location.href='/new/post'">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          {{end}}
          {{end}}
          {{if .AllowThemeSwitching}}
          <div class="title-wrapper" data-tooltip="Toggle dark/light theme">
            <button
              hx-post="/theme/toggle"
              hx-swap="innerHTML"
              hx-target=".theme-icon"
              class="theme-toggle"
            >
              <span class="theme-icon">
                {{if eq .Theme "light"}}
                <i class="fas fa-moon"></i>
                {{else}}
                <i class="fas fa-sun"></i>
                {{end}}
              </span>
            </button>
          </div>
          {{end}}
          <div
            class="title-wrapper"
            data-tooltip="Select syntax highlighting theme"
          >
            <select
              hx-post="/syntax-theme/set"
              hx-trigger="change"
              hx-swap="innerHTML"
              hx-target="#syntax-highlight"
              class="syntax-theme-select"
              name="syntax-theme-select"
            >
              {{range .SyntaxThemes}}
              <option value="{{.}}" {{if eq . $.SyntaxTheme}}selected{{end}}>
                {{.}}
              </option>
              {{end}}
            </select>
          </div>
        </div>
      </div>
    </nav>
    <style id="syntax-highlight">
      {{.SyntaxCSS}}
    </style>
    <style>
      .MathJax,
      .math {
        opacity: 0;
        font-size: 1.2em !important;
        z-index: 0;
      }

      .mathjax-ready .MathJax,
      .mathjax-ready .math {
        opacity: 1;
      }
    </style>
    <main id="content" class="{{if .IsEditor}}editor{{end}}">
      {{if .IsEditor}}
      {{template "content" .}}
      {{else if .IsPost}}
      <div class="container">
        {{template "content" .}}
      </div>
      <footer class="container">
        <p>© 2025 debem solutions in technology</p>
      </footer>
      {{else}}
      <div class="container">
        {{template "content" .}}
      </div>
      <footer class="container">
        <p>© 2025 debem solutions in technology</p>
      </footer>
      {{end}}
    </main>
    <!-- Cloudflare Web Analytics -->
    <script
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "3c7facff57df448dae50146bda5b4ef8"}'
      defer
    ></script>
  </body>
</html>

{{define "title"}} {{if .IsPost}}{{.Post.Title}} - {{end}}{{.SiteName}} {{end}}
{{define "navbar-left"}}{{end}}
